/*h1{
	color: red;
}*/

.cabecera{
	background: #093B75;
	font-size: 200%;
	color: white;
	height: 70px;
	padding-top: 15px;
	padding-left: 45px;
}

.pie{
	background: #9A9A9A;
	color: white;
	text-align: center;
	margin: 0 auto;
	height: 30px;
	padding-top: 5px;
}

.cuerpo{
	margin: 0 auto;
	font-size: 180%;
	color: blue;
	text-align: center;
	height: 400px;
	margin-top: 250px;
}
